:root{
    --sidebbar: #4545eb;     /* color del sidebar */
    --head: #ff0000;         /* color del head */
    --body:#ffffff;          /*color del body*/
}

body{
    background-color: var(--body);
}
header{
    padding: 25px;
    background: var(--head);
}
header a{
    text-decoration: none;
    /* padding: 10px 15px; */
    color: black;
}
.principal{
    margin-left: 100px;
    margin-top: 50px;
    /* background: rgb(22, 162, 204); */
}
.row .bg-primary{ 
    background-color: var(--sidebbar) !important;
}
#sidebar-container{
    min-height: 100vh;
}
#sidebar-container .menu{
    width: 18rem;
}
#sidebar-container a:hover{
    text-decoration: none;
    tex
}
/* <--------------Botones--------------> */
.botonAnadir{
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    /* background: rgb(4, 64, 82); */
}
.botonAccion{
    border: none;
    background: none;
}

/* <----------------------------------> */
.datosMostrar{
    margin-left: 100px;
    margin-right: 100px;
    /* background: rgb(91, 179, 51); */
}
img{
    max-width: 25px;
    max-height: 25px;
}

#modalModificar{
    margin-top: 10px;
}